[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin

slow_query_log=ON
long_query_time = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.sql
log-error = /var/log/mysql/mysql-error.log

general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set=utf8mb4

